body.back              {
    margin: 0px;
        background-image: url('back2.png') ;
    background-repeat: repeat ;
    background-size: cover;
    height: 800px ;  
    
    }

h1.titele {
    font-family: sans-serif ;
    color:  white ;
    display: inline-block ;
    margin: 30px ;
    margin-bottom: 30px ;
    margin-right: 0px ;
    font-size: 250% ;
    }
h1.and {
    color: red ;
    font-family: sans-serif ;
    display: inline-block ;
    margin: 30px ;
    margin-bottom: 30px ;
    margin-left: 0px ;
    font-size: 250% ;
}
img.aa {
    height: 8% ;
    margin-bottom: -15px ;
    margin-left: -25px ;
   
}

div.navebar       {
    
    background-image: url(nave.jpg) ;
    text-align: center ;
   padding: 10px ;
    flex: initial ;
    margin: 40px ;
    border-radius: 5px ;
    margin-top: 10px ;
    }
input.search {
    background-color: black ;
    color: white ;
    border-color: black ;
    border-radius: 20px ;
    height: 40px ;
    width: 200px ;
    padding: inherit ;
    margin-right: -275px ;
    margin-left: 125px ;
    text-decoration: none ;
    




        
}
 a                 {
    color: white;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 25px;
    font-family: sans-serif;
    padding-bottom: 0px ;
    text-align: center ;
    border-bottom: 0px ;
    margin-bottom: 0px ;
    padding-bottom: 5px ;
    padding-top: 5px ;
    display: inline-block ;
    }

div.main          {
    
    background-image: url('main.jpg') ;
    background-size: cover;
    height: 800px ;      
}

h1.titel          {
    text-align: center ;
    color: white ;
    font-size: 70px ;
    margin-top: 0px ;
    font-family: sans-serif ;
}

h2.titel          {
     text-align: center ;
    color: white;
     font-size: 50px ;
    font-family: sans-serif ;
    margin-top: 200px ;
    margin-bottom: 0px ;
    border-bottom-width: 10px ;
}

a.button-1     {
    

    font-size: 25px ;  
    background-color: red;
    border-color: transparent;
    border-width: thick ;
    border-radius: 9px ;
    margin-right: 500px ;
    padding: 25px ;
    margin-left: 30px ;
    color: whitesmoke ;
}

h3.oo             {
    color: white;
    padding: 2px ;
    font-size: 20px ;
    text-align: center ;
    padding-right: 40px ;
    
}

div.b2 h2          {
    margin-right: 930px ;
    color: red ;
}
div.b2 h1          {
    margin-right: 750px ;
    color: darkgray;
}



div.games {
    display: inline-block ;
    justify-content: center ;
    display: flex ;
    margin-top: 80px ;
    background-color: black ;
    margin-bottom: 0px ;
    padding-right: -100px ;
    border-radius: 60px ;
    margin-right: 650px ;
    margin-left: 60px ;


}

a.1 { width: 600px ;

}



div.downloders {
    
    display: flex ;
    margin : 10px ;

}


div.downloders h4 {
    color: white;
    padding-top: 150px ;
    padding-bottom: 150px ;
    display: inline-block ;
    
}


a {
    text-decoration: none ; 
    
}

img.downloders {
    justify-content: center ;
}

div.battelfeild {
    background-color: white ;
    margin-left: 250px ;
    margin-right: 250px ;
    margin-top: 100px ;
}
div.battelfeild h1 {
    color: black;
    font-size:    150% ;
    padding-left: 20px ;
    padding-top: 20px ;
    font-family: sans-serif ;
}
div.battelfeild h2 {    
    font-size: 150% ;
    font-family: sans-serif ;
    color: black ;

}
p {
    font-family: sans-serif ;
    text-align: center ;
    padding-left: 10px ;
    padding-top: 15px ;
    padding-right: 10px ;
}


div.battelfeild button {
    
    background: rgb(30,30,30);
    font-size: 25px ;
    border-radius: 10px ;
    padding-left: 45px ;
    padding-right: 45px ;
    border-width: 0px ;
    width 80% ;
    margin: 30px ;
    margin-left: 300px ;
    height: 17% ;
    border-color: transparent;
    border-width: 2px ;
    
    
}
div.battelfeild h5 {
    font-family: sans-serif ;
    color: white ;
}
div.battelfeild h6 {
    font-family: sans-serif ;
    color: whitesmoke;
    
}

img.battlefeild2 {
   width 80% ;
    margin: 30px ;
    margin-left: 100px ;
}
img.imggalery {
   width 500px ;
   margin-left: 30px ;
   margin-right: 30px ;
   margin-top: 50px ;
    
}

div.inforeme {
    background-color: black ;
    
}

img.informe {
    height: 350px ;
    width: 350px ;
    border-radius: 350px ;
    margin: 40px ;
    
}

h1.informe {
    font-family: sans-serif ;
    color: white ;
    margin-left: 460px ;
    font-size: 50px ;
}

body {
    background-color: black ;
}

div.informe h2 {
    
    
    color: snow ;
    font-family: sans-serif ;
    display: inline-block ;
}
h2.a { margin-left: 110px ;
       margin-top: -15px  ; }
h2.b { margin-left: 180px ;
       margin-top: -15px  ; }
h2.c { margin-left: 200px ;
       margin-top: -15px  ; }
h2.d { margin-left: 965px ;
       margin-top: -10px ;}

div.whatareyouwaitingfor {
    background-color: red ;
    padding: 50px ;
    margin: 50px ;
    margin-top: 210px ;
    border-radius: 175px ;
    font-family: sans-serif ;
    color: white ;
    padding-left: 400px ;
}
div.whatareyouwaitingfor a {
    
    color: white ;
    background-color: black ;
    border-color: black ;
    margin-left: px ;
    padding: 30px ;
    border-radius: 20px ;
    font-size: 20px ;
    
}
hr.space {
    margin-right: 80px ;
    margin-left: 80px ;
    margin-top: 100px ;
}
div.end {
    background-color: darkred ;
    margin: -7px ;
    margin-bottom: -20px ;
    padding: 50px ;
    padding-left: 500px ;
    font-family: sans-serif ;
    color: whitesmoke;
    margin-top: 200px ;
}
div.end h2 {
    color: black;
    font-family: sans-serif ;
    margin-left: 165px ;
    font-size: 35px ;
}
img.view {
    height: 200px ;
    width: 300px ;
    margin-top: 15px ;
    margin-bottom: -60px ;
  

    display: inline-block ;
}
div.downloders h1 {
   
    color: black ;
    margin-left: 5px ;
    display: block ;
}
h2.aaa {
    
    font-family: sans-serif ;
    color: white;
}

div.thegames {
    background-color: white;
    margin-right: 150px ;
    margin-left: 150px ;
    padding: 1px ;

}

hr {
    margin-top: 70px ;
}

p.games {
    color: black;
    padding: 1px ;
    font-family: sans-serif ; 
    font-size: 17px ;
    margin: 0px ;
    
}